@tailwind base;
@tailwind components;
@tailwind utilities;

/*NAVBAR STYLING */
/* #navbar {
  background-color: rgb(30, 89, 169);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem 0;
  font-size: 0.9rem;
  font-weight: 600;
} */

/* #nav_logo img {
  height: 3.8rem;
  width: 15rem;
} */

/* #nav_menu {
  /* align-items: center; */

/* #nav_menu li {
  /* display: flex;
  align-items: center; */
/* padding: 0 1rem; */
/* } */

/* #nav_menu li a {
  text-decoration: none;
}

#nav_menu li a:hover {
  color: #add8e6;
} */

/* .nav_menu_dropdown {
  position: absolute;
  top: 4.25rem;
  width: 13rem;
  background-color: white;
  /* border-top: 0.1rem solid rgb(2, 3, 129); */
/* } */

.nav_menu_dropdown li {
  height: 2.5rem;
  background-color: #6ec1e4;
  display: flex;
  align-items: center;
}
